#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  /* height: 100vh; */
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  padding: 30px 0 !important;
  color: #eee !important;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
@media only screen and (min-width: 800px) {
  .bm-burger-button {
    display: none;
  }
}

.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 35px;
  right: 35px;
  top: 35px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #005826;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #eee !important;
}

/* General sidebar styles */
.bm-menu {
  background: #E66FA4;
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
}

.bm-menu-wrap {
	width: 100% !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #E66FA4;
}

/* Wrapper for item list */
.bm-item-list {
  color: #eee;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.1);
	height: 100vh !important;
}

