#testimonials {
  background: #005826;
  position: relative;
  padding: 0 1.5rem;
  min-height: 200px;
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
#testimonials .text-container {
  padding: 4rem 1rem 1rem;
}
#testimonials h1 {
  /* font: 18px/24px "opensans-bold", sans-serif; */
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  padding-bottom: 2rem;
}

#testimonials .header-col h1:before {
  font-family: "FontAwesome";
  content: "\f10d";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #fff;
}

/*	Blockquotes */
#testimonials blockquote {
  /* margin: 0 0px 30px 0px; */
  padding: 1rem 0.5rem;
  position: relative;
  /* text-shadow: 0px 1px 3px rgba(0, 0, 0, 1); */
}
#testimonials blockquote:before {
  content: none;
}
#testimonials blockquote p {
  /* font-family: "librebaskerville-italic", serif; */
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
  color: #fff;
}
#testimonials blockquote cite {
  display: block;
  font-size: 1rem;
  font-style: normal;
  line-height: 18px;
  color: #fff;
}
#testimonials blockquote cite:before {
  content: "\2014 \0020";
}
#testimonials blockquote cite a,
#testimonials blockquote cite a:visited {
  color: #8b9798;
  border: none;
}
